.project-body-container {
  padding-top: 12px;
  width: 80%;
  margin: auto;
}

.project-carousel-container {
  margin: 30px 0px;
}

.view-other-projects-heading {
  margin-bottom: 20px;
}

.hero-project-image {
  margin-top: 20px;
  width: 100%;
  height: auto;
  border-radius: 20px;
}
