@import "@/app/utils/breakpoints.scss";
@import "@/app/utils/font-sizes.scss";

.project-body-container {
  padding-top: 12px;
  width: 80%;
  margin: auto;
}

.project-carousel-container {
  margin: 30px 0px;
}

.project-heading {
  font-size: $h-small;
  @media (min-width: map-get($breakpoints, xs)) {
    font-size: $h-medium;
  }
  margin-bottom: 20px;
}

.project-text {
  font-size: $p-small;
  @media (min-width: map-get($breakpoints, sm)) {
    font-size: $p-medium;
  }
  margin-bottom: 20px;
}

.view-other-projects-heading {
  font-size: $h-small;
  @media (min-width: map-get($breakpoints, xs)) {
    font-size: $h-medium;
  }
  margin-bottom: 24px;
}

.hero-project-image {
  margin-top: 20px;
  width: 100%;
  height: auto;
  border-radius: 20px;
}
