@import "@/app/utils/breakpoints.scss";
@import "@/app/utils/font-sizes.scss";
@import "@/app/globals.scss";

.project-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;
  .project-tile-carousel {
    border-radius: 20px;
    border: solid #161616ce 1px;
    width: 90%;
    height: 95%;
    &:hover {
      border: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover::before {
    opacity: 0.9;
  }

  .project-tile-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;

    h1 {
      text-align: center;
      @media (max-width: map-get($breakpoints, lg)) {
        font-size: $h-medium;
      }
      font-size: $h-large;
    }
    &-carousel {
      h1 {
        @media (max-width: map-get($breakpoints, sm)) {
          font-size: $h-small;
        }
      }
    }
  }

  &:hover .project-tile-content {
    opacity: 1;
  }
}
