$breakpoints: (
  xs: 480px,
  // Extra small devices (portrait phones)
  sm: 768px,
  // Small devices (landscape phones)
  md: 992px,
  // Medium devices (tablets)
  lg: 1200px,
  // Large devices (desktops)
  xl: 1920px,
  // Extra large devices (large desktops)
);
