.navbar {
  position: sticky;
  background-color: black;
  top: 0;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-wrapper {
  cursor: pointer;
}

.navbar-logo {
  margin: 15px;
  margin-left: 30px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  width: 100px;
  height: auto;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

li {
  display: inline-block;
  padding: 30px 50px; // No vertical padding, 50px horizontal padding
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: #8771f4;
  }
}
