@import "../utils/breakpoints.scss";
@import "../globals.scss";

.navbar {
  position: sticky;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(25, 25, 25) 0%,
    rgb(0, 0, 0) 99.4%
  );
  top: 0;
  z-index: 100;
  min-height: 90px;
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.103); // white box shadow

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;

    .navbar-logo-wrapper {
      cursor: pointer;
      display: flex;
      justify-content: center; // This will center the logo by default

      .navbar-logo {
        margin: 15px;
        margin-left: 30px;
        margin-right: 40px;
        width: 80px;
        // height: auto;
      }

      @media (max-width: map-get($breakpoints, md)) {
        position: absolute; // This will take the logo out of the normal flow
        left: 50%; // This will move the logo to the middle
        transform: translateX(-50%); // This will center the logo
      }
    }

    .navbar-list-wrapper {
      @media (min-width: map-get($breakpoints, md)) {
        display: flex;
      }
      display: none;
      ul {
        justify-content: flex-end;
        list-style: none;
      }
      li {
        display: inline-block;
        padding: 30px 50px; // No vertical padding, 50px horizontal padding

        a {
          text-decoration: none;
          color: inherit;

          span {
            display: inline-block;
            transition: all 0.3s ease; // animate all changes

            &:hover {
              color: $special-color; // change the color on hover
              text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // box shadow on the text
              transform: scale(1.1); // scale the text up
            }
          }
        }
      }
    }
  }
  .sidebar-wrapper {
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 18px;
    // align-items: end;
    @media (min-width: map-get($breakpoints, md)) {
      display: none;
    }
  }
}
.sidebar-content-item {
  font-size: 40px;
  padding-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  @media (min-width: map-get($breakpoints, sm)) {
    font-size: 60px;
  }
  &:hover {
    color: $special-color; // change the color on hover
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // box shadow on the text
    transform: scale(1.1); // scale the text up
  }
}
.mobile-sidebar {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(25, 25, 25) 0%,
    rgb(0, 0, 0) 99.4%
  );
  &.open {
    opacity: 1;
  }
}
