// .project-container {
//   display: flex;
//   flex-direction: column;
// }

.project-body-container {
  margin-top: 20px;
  width: 80%;
  margin: auto;
}

.project-carousel-container {
  margin: 30px 0px;
}

.view-other-projects-heading {
  margin-bottom: 20px;
}
