@import "../utils/breakpoints.scss";
@import "../globals.scss";
.react-multi-carousel-list {
  width: 100%;
}

.arrow-button-left {
  padding: 0 16px;
  color: white;
  background-color: transparent;
  border: none;
  svg {
    &:hover {
      cursor: pointer;
      color: $special-color;
      transform: scale(1.6); // scale the svg up
    }
  }
}
.arrow-button-right {
  padding: 0 16px;
  color: white;
  background-color: transparent;
  border: none;
  svg {
    &:hover {
      cursor: pointer;
      color: $special-color;
      transform: scale(1.6); // scale the svg up
    }
  }
}

.react-multi-carousel-item {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    padding-top: 100%; /* This will make the height equal to the width */
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
