.react-multi-carousel-list {
  width: 100%;
}

.arrow-button-left {
  padding: 0 16px;
  color: white;
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
.arrow-button-right {
  padding: 0 16px;
  color: white;
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
