@import "@/app/utils/breakpoints.scss";
@import "@/app/globals.scss";

:-webkit-autofill {
  transition: background-color 100000s ease-in-out 0s,
    color 100000s ease-in-out 0s;
}

.content {
  margin-left: 50px;
  margin-right: 50px;
}

.main-contact-page {
  display: flex;
  flex-direction: row;
  @media (max-width: map-get($breakpoints, md)) {
    flex-direction: column;
  }
  width: 100%;
}

.left-section {
  width: 65%;
  @media (max-width: map-get($breakpoints, md)) {
    width: 100%;
  }
}

.right-section {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  margin-left: 100px;
  width: 35%;
  @media (max-width: map-get($breakpoints, md)) {
    margin-left: 0;
    width: 100%;
  }
}

.contact-info {
  min-width: 300px;
  @media (max-width: map-get($breakpoints, md)) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    justify-content: space-between;
    width: 100%;
  }
  @media (max-width: map-get($breakpoints, sm)) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  @media (max-width: 500px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }
}

.contact-header {
  margin-top: 30px;
  width: 60%;
  @media (max-width: map-get($breakpoints, md)) {
    width: 100%;
  }
  margin-bottom: 30px;
  h1 {
    font-size: 70px;
    @media (max-width: map-get($breakpoints, sm)) {
      font-size: 50px;
    }
    @media (max-width: map-get($breakpoints, xs)) {
      font-size: 40px;
    }
  }
}

.contact-info-tile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  h2 {
    margin-left: 16px;
  }
}

.contact-info-tile-details {
  p {
    font-size: 20px;
    margin-bottom: 24px;
  }
  hr {
    border-top: 1px solid white;
    width: 100%;
    margin-bottom: 24px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;

  form {
    width: 100%;
  }

  label {
    font-size: 20px;
    margin-bottom: 10px;
  }

  input,
  textarea {
    font-family: $default-font;
    background-color: white !important;
    font-size: 18px;
    margin-bottom: 20px;
    border: 2px solid #dddddd;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: black;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px $special-color;
    }
  }
}

.loader-container {
  display: flex;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  align-self: center;
  border: 3px solid transparent;
  border-top: 3px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.error-message {
  margin-bottom: 8px;
  color: red;
}

.success-submitting-header {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
}

.success-submitting-text {
  margin-bottom: 40px;
  font-size: 20px;
}

.error-submitting-header {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  color: red;
}

.error-submitting-text {
  margin-bottom: 40px;
  font-size: 20px;
  color: red;
}

.submit-button {
  font-family: var(--font-mono);
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  color: black;
  background-color: #ebe9e9d7;
  border: 1px solid #6d6969d3;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  height: 44px;
  &:hover {
    background-color: $special-color;
  }
}
